<footer class="col-xs-12" style="padding: 0">
    <div class="footer">
        <div class="font-footer"><a href="http://www.miitbeian.gov.cn" style="color: #666">{$Think.lang.ICPname}</a></div>
    </div>
</footer>
<script type="text/javascript" src="__PUBLIC__/qiantai/js/jquery.js"></script>
<!-- <script type="text/javascript" src="__PUBLIC__/qiantai/js/bootstrap.js"></script> -->
<script type="text/javascript" src="__PUBLIC__/qiantai/search_demo/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/qiantai/js/nav.js"></script>
<script type="text/javascript" src="__PUBLIC__/qiantai/iostopfixed/scrollfix.js"></script>
<script src="__PUBLIC__/qiantai/js/main.js"></script>
<script type="text/javascript" src="__PUBLIC__/qiantai/search_demo/aircity.js"></script>
<script src="__PUBLIC__/qiantai/layer/mobile/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/qiantai/js/connectUs.js"></script>