<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <!-- 优先使用 IE 最新版本和 Chrome -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- 为移动设备添加 viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!--忽略页面中的数字识别为电话，忽略email识别-->
    <meta name="format-detection" content="telphone=no, email=no" />
    <title>产品详情</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/reset.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/header_nav.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/base.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/index.css" />
    <!-- 联系我们 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/contact_us.css">
    <!-- 产品详情 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/productDeta.css">
    <!--[if lt IE 9]>
			<script type="text/javascript" src="js/html5shiv.min.js"></script>
			<script type="text/javascript" src="js/respond.min.js"></script>
	    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/media.css" />
    <!-- new css by wys -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/new.css" />
    <!-- ios下头部固定方案防止头部随着页面上拉滚动 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/headerstyle.css">
    <!-- 搜索预览插件样式-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/search_demo.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/Case.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/iconfont.css">
    <style type="text/css">
    @media screen and (max-width: 768px) {
        .navbar-default {
            background: #bdbdbd;
        }
    }

    .lf-wrapper .lf-item {
        display: inline-block;
        width: 100%;
    }
    .description-headline:not(:first-child){
    	margin-top: 30px;
    }
    .component-items li{
    	line-height: 1.8;
    }
    </style>
</head>

<body>
    <include file="Public/header" />
    <div class="scrollable" id="scrollable">
        <!--产品展示-->
        <div class=" news_content lf-wrapper">
            <div class="col-sx-12 classification container">
                <volist name="hztype_arr" id="vo">
                    <div class="col-md-4 col-xs-12">
                        <span class="lf-item"> {$vo['hz']['hzname']} <i class="icon iconfont icon-jiantou"></i></span>
                        <ul class="list-unstyled">
                            <volist name="vo['type']" id="voer">
                                <li><a href="{:U('Feighztype/index')}?typeid={$voer['id']}&fid={$voer['hzid']}">{$voer['fgtypename']}</a></li>
                            </volist>
                        </ul>
                    </div>
                </volist>
            </div>
        </div>
        <div class="news">
            <div class="class-case">
                <h2>STATIONÄRE LESER</h2>
            </div>
            <div class="container">
                <div class="row news-content">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="col-md-12">
                            <h2 class="fttitle">{$felgxiangqing.fttitle}</h2>
                            <p class="ftname">{$felgxiangqing.ftname}</p>
                        </div>
                        <div class="col-md-12">
                            {$felgxiangqing.ftspec}
                        </div>
                        <volist name="felgptdowns" id="vo">
                            <div class="col-md-12" style="margin:10px 0;">
                                <a href="__PUBLIC__/Uploads/{$vo['down']}" target="view_window" style="display: inline-block;width:100%;word-break: break-all; ">
                                    <button style="display: inline-block;width:100%;" type="button" class="downloadbutton">{$vo['downname']}<i class="icon iconfont icon-xiazai"></i></button>
                                </a>
                            </div>
                        </volist>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="thumbnail">
                            <img src="__ROOT__{$felgxiangqing.ftimg}" alt="" style="border:none;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="col-xs-12">
            <div class="footer">
                <div class="font-footer">{$Think.lang.ICPname}</div>
            </div>
        </footer>
    </div>
    </main>
    <script type="text/javascript" src="__PUBLIC__/qiantai/search_demo/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/qiantai/js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/qiantai/js/nav.js"></script>
    <!-- ios下头部固定方案防止头部随着页面上拉滚动 -->
    <script type="text/javascript" src="__PUBLIC__/qiantai/iostopfixed/scrollfix.js"></script>
    <!-- 搜索预览插件 -->
    <script type="text/javascript" src="__PUBLIC__/qiantai/search_demo/aircity.js"></script>
    <script src="js/main.js"></script>
    <script src="layer/mobile/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/qiantai/js/connectUs.js"></script>
    <script type="text/javascript">
    //点击显示/隐藏
    (function() {
        $(".classification span").click(function() {
            $(".classification ul").toggle(1000);
        });
    })();
    </script>
</body>

</html>