<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <!-- 优先使用 IE 最新版本和 Chrome -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!-- 为移动设备添加 viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <!--忽略页面中的数字识别为电话，忽略email识别-->
  <meta name="format-detection" content="telphone=no, email=no" />
  <title>{$Think.lang.head_Industry}</title>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/reset.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/header_nav.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/base.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/index.css" />
  <!-- 联系我们 -->
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/contact_us.css">
  <!--[if lt IE 9]>
  <script type="text/javascript" src="__PUBLIC__/qiantai/js/html5shiv.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/qiantai/js/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/media.css" />
  <!-- new css by wys -->
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/new.css" />
  <!-- ios下头部固定方案防止头部随着页面上拉滚动 -->
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/headerstyle.css">
  <!-- 搜索预览插件样式-->
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/search_demo.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/iconfont.css">
  <style type="text/css">
    .trade p{margin:5px 0;}
    .trade a{
      line-height: 35px;
    }
    @media screen and (max-width: 768px){
      .navbar-default {
        background: #bdbdbd;

      }
      .product,.calssList{
        margin-top:85px!important;
      }
    }
    .descript{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .thumbnail-industry{
      box-shadow: 3px 1px 10px #c7c4c4;
    }
  </style>

</head>

<body>
<main class="max-width-index">


  <include file="Public/header"/>



<div class="product">
  <div class="container">
    <div class="row pro-content">
      <div class="common-title">
        <h2>{$Think.lang.index_Industrylist}</h2>
      </div>
      <volist name="iyimg" id="vo">
            <div class="col-lg-3 col-md-3 col-sm-4 ">
              <div class="thumbnail thumbnail-industry">
                <a href="{:U('Vocationlistmain/index')}?id={$vo['id']}">
                <img src="__ROOT__{$vo['imgiy']}" alt="" class="img-responsive" />
                </a>
                <div class="caption hidden-xs">
                  <h3 style="margin-top:10px">{$vo['nameiy']}</h3>
                  <p class="descript">
                    {$vo['title']}</p>
                  <div class="trade text-right" style="border-top: 1px solid #eee;">
                    <p><a href="{:U('Vocationlistmain/index')}?id={$vo['id']}">{$Think.lang.index_Industryinfo}</a></p>
                  </div>
                </div>
              </div>
            </div>
      </volist>




    </div>
  </div>

</div>


<include file="Public/footer"/>
</main>
<!-- <include file="Public/footercontent" /> -->
</body>
</html>


